<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>MENU</string>
	<string>HOME</string>
	<string>ACCOUNT</string>
	<string>ADD PHOTO</string>
	<string>TAKE PHOTO</string>
	<string>NOTES</string>
	<string>EXPENSES</string>
	<string>PACKING</string>
	<string>ALERTS</string>
	<string>SLIDESHOW</string>
	<string>GROUP</string>
	<string>RECEIPTS</string>
</array>
</plist>
